
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');


.ressources {
    color: rgb(200, 200, 200);
    font-family: 'Open Sans', monospace;
}

.link {
    color: rgb(0, 143, 216);
    text-decoration: none;
    font-family: 'Roboto', monospace;
}

#information {
    color: rgb(200, 200, 200);
    font-family: 'Open Sans', monospace;
    text-align: center;
    background: rgb(49, 54, 68);
    font-size: 20px;
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25%;
}

h1 {
    color: rgb(200, 200, 200);
    text-align: center;
    font-family: 'Open Sans', monospace;
    font-size: 40px;
}

h2 {
    color: rgb(200, 200, 200);
    font-family: 'Open Sans', monospace;
}

body {
    background-color: rgb(57, 64, 82);
}

#wrapper {
    width: 90%;
    background: rgb(49, 54, 68);
    margin: 0 auto;
    border-radius: 75px;
    text-align: center;
    margin-bottom: 18px;
}
.col{
    display: inline-block;
    width: 350px;
    margin: 5%;
    text-align: center;
}

#credentials {
    bottom: 0;
    margin: 0 auto;
    width: 90%;
    font-size: 20px;
    color: rgb(200, 200, 200);
    background: rgb(49, 54, 68);
    text-align: center;
    border-radius: 25px;
}
#date {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
}
#cred-name {
    font-family: 'Source Code Pro', monospace;
    display: inline-block;
    margin-right: 50%;
}

#index-link {
    display: inline-block;
    text-align: center;
}

#ressource-link {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center,
}

#form-link {
    display: inline-block;
    text-align: center;
    margin-right: 10%;
}

#cgu-link {
    display: inline-block;
    text-align: center;
}

.page {
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    background: rgb(49, 54, 68);
    top: 0;
    width: 50%;
    margin-bottom: 18px;
    border-radius: 25px;
}

.link-page {
    color: rgb(0, 143, 216);
    font-family: 'Open Sans', monospace;
    text-decoration: none;
}

#contact {
    font-family: 'Source Code Pro', monospace;
}
#contact-page {
    color: rgb(0, 143, 216);
    text-decoration: none;
}

table, th, td {
    border: 1px solid rgb(200, 200, 200);
  }
  
.table {
    text-align: center;
    margin: 0 auto;
    color: rgb(200, 200, 200);
}